type vendor_hal_capabilityconfigstore_qti_default, domain;
hal_server_domain(vendor_hal_capabilityconfigstore_qti_default, vendor_hal_capabilityconfigstore_qti)

type vendor_hal_capabilityconfigstore_qti_default_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(vendor_hal_capabilityconfigstore_qti_default)

allow vendor_hal_capabilityconfigstore_qti_default vendor_capabilityconfigstore_data_file:file rw_file_perms;
allow vendor_hal_capabilityconfigstore_qti_default vendor_capabilityconfigstore_data_file:dir rw_dir_perms;
get_prop(vendor_hal_capabilityconfigstore_qti_default, vendor_cap_configstore_dbg_prop)
