on post-fs-data

service vendor.light-qti /vendor/bin/hw/android.hardware.lights-service.qti
    class hal
    user system
    group system
    shutdown critical
    disabled
    override

on post-fs
    mount none /system/bin/hw/android.hardware.power-service /vendor/bin/hw/android.hardware.power-service bind
